/* GENERAL SETTINGS */

body {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
}

a {
  color: #000000;
  text-decoration: none;
}

/* HEADER */

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px;
}

.header-nav__list {
  display: flex;
  gap: 30px;
  list-style: circle;
}

.header-logo__img {
  width: 129.11px;
  height: 104.65px;
}

.active-item {
  list-style: none;
}

.header-list__link.active-link {
  border: none;
}

.header-list__link {
  border-bottom: 1px solid #000;
  color: #000000;
  font-size: 18px;
}

.header__adress {
  justify-self: end;
  max-width: 240px;
}

.header__adress > a {
  border-bottom: 1px solid #000;
}

/* MAIN */
/* SECTION WELCOME */

.welcome {
  margin-bottom: 180px;
}

.cover {
  position: relative;
  z-index: 1;
  min-height: 757px;
  padding: 0 50px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-color: #000000;
}

.aligned__text {
  margin-bottom: 106px;
  padding-top: 165px;
}

.cover__title {
  color: #ffffff;
  font-weight: 700;
  font-size: 100px;
  letter-spacing: 30px;
  line-height: 1.15;
  text-transform: uppercase;
}

.title-position__left {
  text-align: left;
}

.title-position__center {
  margin-bottom: 20px;
  text-align: center;
}

.title-position__right {
  text-align: right;
}

.description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px 50px 50px;
}

.description__text {
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  line-height: 1.27;
  word-spacing: 15px;
}

.description__button {
  border: 1px solid #fff;
  padding: 12px 30px;
  color: #fff;
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
}

/* LOTS */

.lots {
  margin-bottom: 120px;
  padding: 0 50px;
}

.lots__heading {
  margin-bottom: 27px;
  padding: 0 0 30 40px;
  color: #000000;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.lots-card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr) ;
  gap: 25px;
  margin-bottom: 30px;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
  list-style: none;
}

.card-link {
  display: block;
  height: 100%;
}

.card {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 50px 40px;
  color: #fff;
  background-color: #000;
}

.card__type__film {
  background-image: url(../images/card-lot-01.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card__title {
  color: #ffffff;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  text-decoration: underline;
  text-decoration-line: underline;
  text-underline-offset: 3.5px;
  text-transform: uppercase;
}

.card-text {
  color: #fff;
  font-size: 20px;
  line-height: 1.2;
}

.looks__more-link {
  padding-left: 40px;
  color: #000000;
  font-size: 20px;
  text-decoration: underline;
}

/* ABOUT */

.about {
  margin-bottom: 180px;
  padding: 0 50px;
}
.about-column {
  display: grid;
  grid-template-columns: 334px 1fr;
}

.logo_container {
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin-top: 35px;
  border-radius: 50%;
  background-color: #000;
}

.logo__about-image {
  width: 148px;
  height: 114px;
}

.about__description {
  grid-column: 2/4;
}

.about__title {
  padding: 100px 0 104px;
  margin-bottom: 100px;
  color: #000000;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.about-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: #000000;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

/* FOOTER */

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 180 50px 80px;
}

.footer__adress {
  justify-self: start;
  max-width: 240px;
}

.footer__adress > a {
  border-bottom: 1px solid #000;
}

.footer__nav {
  justify-self: center;
}

.footer_list {
  list-style: none;
}

.footer__list-link {
  border-bottom: 1px solid #000;
}

.footer__list-link.active-link {
  border: none;
}

.socials {
  display: flex;
  justify-self: end;
  gap: 48px;
}

.social__image {
  width: 48px;
  height: 48px;
}